.carousel {
  width: 60%;
  text-align: center;
  background: #33c976;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px;
}

.image {
  width: auto;
  height: 250px;
  object-fit: cover;
}

.text {
  margin-top: 10px;
  font-size: 25px;
  color: #333;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.arrow {
  font-size: 14px;
  background: none;
  border: 1px solid whitesmoke;
  cursor: pointer;
  color: #333;
  border-radius: 50%;
  padding: 10px;
  margin: 10px 20px;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: #ffffff;
  color: #000;
}

/* Media Queries */
@media (max-width: 768px) {
  .carousel {
    width: 100%;
    margin-bottom: 50px;
  }
  .content{
    flex-direction: column;
    padding: 10px;
  }

  .image {
    min-height: 200px;
    width: auto;
  }

  .text {
    font-size: 20px;
  }

  .arrow {
    font-size: 12px;
    padding: 6px;
  }
}

